@use "../variables/colors" as color;

@mixin blob($bg-color:color.$light, $color: color.$dark, $border-radius:2rem, $border: 1px solid color.$dark) {
    background-color: $bg-color;
    color: $color;
    border-radius: $border-radius;
    border: $border;
    font-size: 0.4rem;
    max-width:fit-content;
    display:inline-block;
    padding:0.3rem 0.4rem;
    padding-right:0.3rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight:700;
    flex:none;
    &:hover {
        background-color: $color;
        color: $bg-color;
    }
}