@use "../variables/colors" as color;

header {
  padding: 1.5rem calc(15% - 5rem);
  nav {
    display: flex;
    .header__nav__logo {
      display: flex;
      align-items: center;
      margin-right: auto;
      img {
        width: 125px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        a {
          font-weight: 700;
          text-decoration: none;
          color: color.$light;
          white-space: nowrap;
          padding: 1rem;
          &:hover {
          }
        }
        &:last-child {
        }
      }
    }
  }
}
