@use "../variables/colors" as color;
@use "../mixins/articles" as article;

main {
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2rem calc(10% - 70px);
  gap: 1rem;

  .main__article {
    cursor: pointer;
    transition:transform 0.2s ease-in-out;
    .main__article__author {
      margin-top: auto;
    }
    &:hover {
      transform: translateY(-3px);
    }
  }

  h1 {
    font-size: 2.25rem;

  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.8rem;
  }

  .main__article__author {
    font-weight:700;
  }

  .main__article:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/2;
    @include article.article(
      color.$light,
      color.$secondary,
      url("../assets/bathroom.jpg"),
      rgba(0, 0, 0, 0.2)
    );
  }

  .main__article:nth-child(2) {
    @include article.article(
      color.$light,
      color.$secondary,
      url("../assets/livingroom.webp"),
      #4342E680
    );
  }
  .main__article:nth-child(3) {
    @include article.article(
      color.$compliment,
      color.$secondary,
      none,
      #FFB469
    );
  }

  .main__article:nth-child(3) {
    @include article.article(
      color.$compliment,
      color.$secondary,
      none,
      #FFB469
    );
  }

  .main__article:nth-child(4) {
    @include article.article(
      color.$light,
      color.$secondary,
      url("../assets/restaurant.jpg"),
      #86279A80
    );
  }

  .main__article:nth-child(5) {
    @include article.article(
      color.$compliment,
      color.$secondary,
      url("../assets/office.webp"),
      #F8A2D395
    );
  }

  .blob {
    pointer-events: none;
    margin-bottom: 3rem;
  }
}
