main {
  display: grid;
  grid-template-columns: 40% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 2rem calc(10% - 70px);
  gap:0.5rem;

  .main__article {
    cursor: pointer;
  }

  .main__article:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/2;
  }

  .main__article__author {
    margin-top:auto;
  }

  .blob {
    pointer-events: none;
  }
}
